<h1>This is the home of my blog app</h1>

<%=image_tag 'htmlcss-opti.png'%>

<h2>Welcome</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mattis lorem at nisl laoreet, eget mollis nibh tristique. Sed bibendum, augue lacinia laoreet placerat, nisl tellus pellentesque erat, eget fringilla felis felis a urna. Integer a lacus enim. Pellentesque faucibus dignissim ex vel bibendum. Nulla nisi metus, malesuada nec aliquet suscipit, egestas at nunc. Aliquam aliquet bibendum nulla, non hendrerit felis laoreet interdum. Nullam in iaculis tellus.

Sed lobortis felis augue, condimentum efficitur felis ornare in. Maecenas metus dui, hendrerit at est quis, vestibulum ullamcorper tortor. Nullam a ante finibus, convallis risus non, dapibus urna. Nam orci nunc, accumsan eu libero vel, venenatis lobortis dui. Aenean egestas justo eget dui vulputate, at suscipit elit consequat. Donec dictum ligula eu magna volutpat consectetur. Integer nec sapien tincidunt, commodo leo sed, finibus lacus. Ut tincidunt porttitor vulputate. Ut ornare eleifend ante et posuere.</p>


<%=link_to 'About', about_path %>
